<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="resources/css/config.css" />
<style>
  :root {
    scroll-behavior:smooth;
    --shadow-color: 47deg 10% 32%;
  .shadow-elevation-low{
  box-shadow: 
  0.4px 1px 1.2px hsl(var(--shadow-color) / 0.52),
    0.7px 1.8px 2.2px -1.2px hsl(var(--shadow-color) / 0.52),
    2px 4.8px 5.9px -2.5px hsl(var(--shadow-color) / 0.52);}
  .shadow-elevation-medium{
    box-shadow: 
    0.4px 1px 1.2px hsl(var(--shadow-color) / 0.54),
    1.5px 3.7px 4.5px -0.8px hsl(var(--shadow-color) / 0.54),
    4px 9.6px 11.7px -1.7px hsl(var(--shadow-color) / 0.54),
    9.9px 23.8px 29px -2.5px hsl(var(--shadow-color) / 0.54);}
  .shadow-elevation-high{
  box-shadow: 
  0.4px 1px 1.2px hsl(var(--shadow-color) / 0.5),
    3.3px 7.9px 9.6px -0.4px hsl(var(--shadow-color) / 0.5),
    6.3px 15.1px 18.4px -0.7px hsl(var(--shadow-color) / 0.5),
    10.5px 25.1px 30.6px -1.1px hsl(var(--shadow-color) / 0.5),
    16.8px 40.4px 49.2px -1.4px hsl(var(--shadow-color) / 0.5),
    26.4px 63.4px 77.3px -1.8px hsl(var(--shadow-color) / 0.5),
    40.2px 96.6px 117.7px -2.1px hsl(var(--shadow-color) / 0.5),
    59.4px 142.5px 173.7px -2.5px hsl(var(--shadow-color) / 0.5);
}

  }


</style>
  </head>
  <body class="font-monte bg-light-color ">
    <header id="header">
      <div
        class="bg-fixed flex justify-center items-center bg-no-repeat bg-cover bg-center h-lvh"
        style="background-image: url(resources/img/library.jpg)"
      >
        <nav
          class="fixed bg-color-light-dark top-0 left-0 m-4 h-0 md:flex md:items-center md:justify-between mx-4 md:mx-6 z-50"
        >
          <input type="checkbox" id="menu" class="peer" hidden />
          <label
            for="menu"
            class="bg-img w-2 h-2 bg-cover bg-center cursor-pointer peer-checked:bg-close-menu transition-all z-50 md:hidden"
            ><img src="resources/img/amburguer.png" class="fixed w-10 h-10 md:hidden"
          /></label>
          <div
            class="fixed rounded-2xl  mt-14 bg-gradient-to-b from-medium-dark-color to-medium-light-color top-0 left-0 m-0 p-4 w-[50%] h-[90%] -translate-x-96 peer-checked:-translate-x-0 transition-transform md:static md:translate-x-0 md:w-[95%] md:flex md:items-center md:bg-none z-50"
          >
            <ul
              class="absolute font-monte text-white w-[85%] md:p-0 md:grid-flow-col md:w-max md:bg-transparent md:static md:flex items-center z-50"
            >
              <a href="#header" class="flex items-center text-white hover:text-color-dark-dark pb-4 transition-all md:hover:text-color-dark-dark md:text-white"
                ><i class="fa-solid fa-user mr-3 md:text-2xl"></i></i>
                <li class="md:pr-6"><b>User</b></li></a
              >
          
              <a href="#home" class="flex items-center text-white hover:text-color-dark-dark pb-4 transition-all md:hover:text-color-dark-dark md:text-white"
                ><i class="fa-solid fa-house mr-3 md:text-2xl"></i>
                <li class="md:pr-6"><b>Home</b></li></a
              >
   
              <a href="#evidence" class="flex items-center text-white hover:text-color-dark-dark pb-4 transition-all md:hover:text-color-dark-dark md:text-white"
                ><i class="fa-solid fa-magnifying-glass mr-3 md:text-2xl"></i>
                <li class="md:pr-6"><b>Evidence</b></li></a
              >
      
              <a href="#about" class="flex items-center pb-4 text-white  hover:text-color-dark-dark transition-all md:hover:text-color-dark-dark md:text-white"
                > <i class="fa-solid fa-address-card mr-3 md:text-2xl"></i><li class="md:pr-6"><b>About</b></li></a
              >
            
 
<hr/>

<a href="" class="flex items-center pb-4 text-white  hover:text-color-dark-dark transition-all md:hover:text-color-dark-dark md:text-white"
><i class="fa-solid fa-gear mr-3 md:text-2xl"></i><li class="md:pr-6"><b>Setting</b></li></a>
       
            
      
           
            </ul>
          </div>
        </nav>
        <button
          class="fixed button top-0 right-3 z-50"
        >
          Sign up
        </button>
        <button
          class="fixed top-0 right-28 m-4 bg-transparent mx-4 md:mx-6 text-color-dark-dark rounded-2xl w-20 h-8 md:h-10 transition-all hover:text-white z-50"
        >
          <b>Sign in</b>
        </button>
        <h1 class="text-white text-3xl text-center md:text-4xl">
          <b> Welcome</b> to preparations of knowledge
        </h1>
       
      </div>
    </header>
    <main class="mx-4 md:mx-6">
      <section class="h-lvh m-4 grid grid-cols-1 md:grid-cols-2 grid-rows-3 gap-4 rounded-lg " id="home">
       <!--!first element father-->
<div class="row-span-1 md:row-span-2 rounded-lg  grid grid-cols-6 grid-rows-4 gap-1"> 
   <!--!first element-->
  <div class="row-span-4 col-start-5 col-span-2 grid grid-cols-1 grid-rows-4 rounded-lg shadow-elevation-medium p-2 bg-dark">

<!--recorrer es span y comenzar start-->
<div class=" row-span-1 col-span-2">
  <div>
    <p class="font-monte text-center text-white">General Results</p>
  </div>
  <!--!percentage-->
  <div class="space-y-4  mt-2 ">
    <div class="w-[100%] bg-dark-color shadow rounded ">
       Results 
    </div>
  </div>
  <div class="space-y-4 ">
    <div class="w-[60%] bg-dark-light-color shadow rounded">
       Time
    </div>
  </div>

  
 
</div>

</div>
<!--!second element-->
<div class="bg-dark grid row-span-3 row-start-1 col-span-4 rounded-lg shadow-elevation-low p-2">
  <div class="grid grid-cols-4 grid-rows-4 rounded-lg">
   <!--!section-->
   <div class="row-span-2 col-span-1 flex justify-center items-center ">
    <img src="resources/img/foto.jpg" alt="profile" class="rounded-full size-12 md:size-24">
  </div>
  <div class="row-start-1 col-start-2 col-span-3 ">
    <h1 class="text-2xl text-center text-white">Profile</h1>
  </div>
</div>

</div>

<!--!tercer elemento-->
<div class="bg-dark col-span-4 rounded-lg shadow-elevation-low min-[0]:hidden">

</div>
</div>

<!--!second element father-->
<div class="row-span-1 row-start-2 md:row-span-2 rounded-lg  grid grid-cols-6 grid-rows-4  shadow-elevation-medium">
  <!--first element-->
 <div class="row-span-4 col-span-3 rounded-lg">
  <img src="resources/img/libros.jpg" alt="nasa" class="rounded-l-lg size-full">
 </div>
 <!--second element-->
 <div class="row-span-2 col-start-4 col-span-3 rounded-lg ">
  <div class="w[100%] h-[30%]"><h1 class="text-center font-monte text-2xl mt-1">Intro library</h1></div>
  <div class="w-[100%] h-[90%] flex justify-center items-center"><p class="text-center">welcome to the reading place</p></div>
 </div>
 <!--tercer element-->
 <div class="row-start-3 row-span-3 col-start-4 col-span-3 rounded-lg flex justify-center">
<button class="button ">entry</button>
 </div>
</div>

<!--!tercer element father-->
<div class="relative flex rounded-lg row-start-3 col-span-2  " id="evidence">

  <i class="fa-solid fa-circle-arrow-left text-2xl absolute left-0 top-1/2 transform -translate-y-1/2 " id="prev"></i>

  <!--*first element-->
  <div class="flex overflow-hidden rounded-lg p-3 shadow-elevation-medium mr-4 md:mr-0" id="slider">

 
      <img src="resources/img/espanol.jpg" alt="" class="w-full h-[100%] shadow-elevation-medium rounded-lg ">

    <div class="shadow-elevation-low rounded-lg mr-2">
      <div class="">
        <h1 class="text-lg text-center">Spanish</h1>
      </div>
      <div class="">
        <p class="text-lg"><!--text--></p>
      </div>
      <div class="flex justify-center items-center">
        <button class="button">get into</button>
      </div>
      </div>
    
      <!--*second element slider-->
      <img src="resources/img/escaleras.jpg" alt="" class="w-full h-[100%] shadow-elevation-medium rounded-lg ">
      <div class="shadow-elevation-low rounded-lg mr-2">
        <div class="">
          <h1 class="text-lg text-center">Mathematic</h1>
        </div>
        <div class="">
          <p class="text-lg"><!--text--></p>
        </div>
        <div class="flex justify-center items-center">
          <button class="button">get into</button>
        </div>
        </div>
        
      <!--*second element slider-->
      <img src="resources/img/sciencie.jpg" alt="" class="w-full h-[100%] shadow-elevation-medium rounded-lg ">
      <div class="shadow-elevation-low rounded-lg mr-2">
        <div class="">
          <h1 class="text-lg text-center">Sciences</h1>
        </div>
        <div class="">
          <p class="text-lg"><!--text--></p>
        </div>
        <div class="flex justify-center items-center">
          <button class="button">get into</button>
        </div>
        </div>
        
      <!--*second element slider-->
      <img src="resources/img/social.jpg" alt="" class="w-full h-[100%] shadow-elevation-medium rounded-lg ">
      <div class="shadow-elevation-low rounded-lg mr-2">
        <div class="">
          <h1 class="text-lg text-center">Social</h1>
        </div>
        <div class="">
          <p class="text-lg"><!--text--></p>
        </div>
        <div class="flex justify-center items-center">
          <button class="button">get into</button>
        </div>
        </div>
        
      <!--*second element slider-->
      <img src="resources/img/english.jpg" alt="" class="w-full h-[100%] shadow-elevation-medium rounded-lg ">
      <div class="shadow-elevation-low rounded-lg mr-2">
        <div class="">
          <h1 class="text-lg text-center">English</h1>
        </div>
        <div class="">
          <p class="text-lg"><!--text--></p>
        </div>
        <div class="flex justify-center items-center">
          <button class="button">get into</button>
        </div>
        </div>
        
      <!--*second element slider-->
  
 
  
</div>
<i class="fa-solid fa-circle-arrow-right text-2xl absolute cursor-pointer object-cover right-0 top-[50%]" id="next"></i>
</div>
      </section>
      <h1 class="text-center text-5xl mt-4 mb-2"><b>Objective of project</b></h1>
      <section class="grid md:mr-0 mr-4" id="about" >
      <div class="grid grid-cols-1 md:grid-cols-6 grid-rows-4  gap-3 md:max-h-svh mb-4 mx-4 md:mx-4  rounded-lg ">
        <!--!first column-->
        <div class="col-span-2 row-span-4 rounded-l-lg grid grid-cols-1 grid-rows-2 rounded-lg">

         
            <div class="bg-fixed row-span-1 bg-cover max-h-svh rounded-lg ">
        <img src="resources/img/lib.jpg" alt="" class="rounded-t-lg size-full ">
      </div>
      <div class="flex shadow-elevation-low col-span-1 row-start-2 row-span-2 rounded-b-lg px-4">
        <div class="flex justify-center items-start"><h1 class="text-2xl">Mission</h1></div>
        <div class="flex items-center"><p class="text-lg">sdhajkdddadkjakd</p></div>
        <div class="flex justify-end items-end">
        <p class="right-0 top-[100%] text-gray-500">15/02/22</p>
        </div>
      </div>
      
      </div>
         <!--!second column-->
         <div class="col-span-2 row-span-4 rounded-l-lg grid grid-cols-1 grid-rows-2 rounded-lg">
        
         
            <div class="bg-fixed row-span-1 bg-cover max-h-svh rounded-lg ">
        <img src="resources/img/mediano.jpg" alt="" class="rounded-t-lg size-full ">
      </div>
      <div class="flex shadow-elevation-low col-span-1 row-start-2 row-span-2 rounded-b-lg px-4">
        <div class="flex justify-center items-start"><h1 class="text-2xl">Vision</h1></div>
        <div class="flex items-center"><p class="text-lg">sdhajkdddadkjakd</p></div>
        <div class="flex justify-end items-end">
        <p class="right-0 top-[100%] text-gray-500">15/02/22</p>
        </div>
      </div>
      
      </div>
         <!--!thirsty column-->
         <div class="col-span-2 row-span-4 rounded-l-lg grid grid-cols-1 grid-rows-2 rounded-lg">
          
         
            <div class="bg-fixed row-span-1 bg-cover max-h-svh rounded-lg ">
        <img src="resources/img/agarra.jpg" alt="" class="rounded-t-lg size-full ">
      </div>
      <div class="flex shadow-elevation-low col-span-1 row-start-2 row-span-2 rounded-b-lg px-4">
        <div class="flex justify-center items-start"><h1 class="text-2xl">Future</h1></div>
        <div class="flex items-center"><p class="text-lg">sdhajkdddadkjakd</p></div>
        <div class="flex justify-end items-end">
        <p class="right-0 top-[100%] text-gray-500">15/02/22</p>
        </div>
      </div>     
      </div>
    </div>
      </section>
    </main>
    <footer class="grid mb-2 m-4  md:mr-4 mr-8">
      
      <section class="bg-dark-color grid grid-cols-6 grid-rows-4 rounded-lg  mb-4 max-h-[20vh] mx-4 md:mx-6 shadow-elevation-medium">
        <div class="flex text-2xl text-center flex-col col-span-3 ">
          <div class=" text-center text-2xl text-white">Contact</div>
          <hr/>
          <div>
          <p class="text-white text-sm">social networks </p>
        </div>
        <div class="flex justify-center">
          <a href="" class="pr-2 text-white hover:text-color-dark-dark pb-4 transition-all"><i class="fa-brands fa-linkedin"></i></a>
          <a href="" class="pr-2 text-white hover:text-color-dark-dark pb-4 transition-all"><i class="fa-brands fa-facebook"></i></a>
          <a href="" class="pr-2 text-white hover:text-color-dark-dark pb-4 transition-all"><i class="fa-brands fa-square-instagram"></i></a>
          <a href="" class="pr-2 text-white hover:text-color-dark-dark pb-4 transition-all"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="" class="pr-2 text-white hover:text-color-dark-dark pb-4 transition-all"><i class="fa-brands fa-github"></i></a>
        </div>
        </div>
        <div class="col-start-4 col-span-3 row-span-4">
          <div class="text-white text-lg text-center mb-1">Phone</div>
          <hr/>
          <div><h1 class="text-white text-sm text-center">+57 301 3909069</h1></div>
        </div>
      </section>
    </footer>
    <script src="resources/js/dashboard.js">
    
    </script>
    <script
      src="https://kit.fontawesome.com/41bcea2ae3.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
